body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #9e7d7d;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: rgb(149, 184, 230);
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-around;
    box-shadow: 0 0 0.6em rgba(14, 13, 13, 0.5);
}
header nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
}
header nav ul li{
    margin: 0 10px;
    display: flex;
    cursor: pointer;
    color: black;
    text-decoration: none;
}
header nav ul li:hover{
    color: rgb(188, 38, 38);
}
main{
    float: left;
    width: 1000px;
    display: flex;
}
main ul{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}
main ul li{
    background-color: #7f8bf6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
    padding: 15px;
    margin: 15px;
}
main ul li h2{
    color: ghostwhite;
    margin-top: 10px;
}
main ul li img{
    width: 128px;
    height: 128px;
    object-fit: fill;
}
main ul li.li{
    color: white;
    background-color: rgb(142, 101, 101); 
    padding: 0 10px;
}
main ul li p{
   margin-top: 10px;
}
main ul li p.price{
    color: rgba(236, 241, 244, 0.905);
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
main ul li p:hover{
    color: rgba(192, 204, 216, 0.924);
    text-decoration: underline;
}
main ul li:hover{
    border: 2px solid darkred;
}
main ul li button{
    display: flex;
    flex-direction: column;
    border-radius: 10px 2px 10px 2px;
    padding: 10px 10px;
    margin-right: 5px;
}
main ul li button[type=text]{
    border: none;
    padding: 5px 20px;
}
aside{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
aside button{
    border: none;
    padding: 5px 10px;
}
/* aside div ul li{
    background-color: grey;
    width: 255px;
    height: 350px;
    list-style: none;
    padding: 0px;
}
aside ul div{
    width: 100%;
    background-color: beige;
    
} */
button{
    bottom: 1px;
    padding: 5px 10px;
}
.carrinho li{
    display: flex;
    justify-content: center;
    margin: 10px;
    width: 200px;
    height: 30%;
    border-radius: 5px;
    border: solid pink 1px;
}
.carrinho li img{
    width: 70px;
    height: 60px;
}
.carrinho{
    border: solid black 2px;
    margin-top: 26px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    width: 255px;
    height: 350px;
    list-style: none;
    padding: 0px;
    overflow-y: auto;
}
.carrinho div{
    width: 100%;
    background-color: beige;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

}
.track{
    color: black;
    font-size:  12px;
    font-weight: 800;
}
.yellow{
    font-size: 10px;
    font-weight: bold;
}
.carrinho button{
    width: 145px;
    height: 30px;
    padding: 4px;
}


